.buttonsContainer {
    position: absolute;
    top: 180px;
}
.peopleSelect {
position: absolute;  
width: 117.52px;  
height: 49.2px;
background-color: #fff;
-webkit-appearance: none;
-webkit-border-radius: 0;
top: -1px;
font-family:"source-sans-pro",sans-serif;
font-size: .875rem;
}
.calendar input{
  width: 183px;
  height: 49px;
  left: 67px;
  top: -1px;
  position: absolute;
}

.toLeft {
  position: absolute;
  left: 50px;
}


*, *:before, *:after {
  box-sizing: border-box;
}

.page-header-title {
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.33;
  font-size: 1.125rem;
  text-rendering: optimizeLegibility;
  margin: 0px 0px 10px 0px;
  padding-bottom: 0;
  text-shadow: none;
  box-sizing: border-box;
  font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.dtp-subheader {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.17;
  text-shadow: none;
  color: #333;
  margin: 0;
  padding: 0;
  display: block;
  font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
}

/* #oc-quick-action-link-container {
  left: 20px;
  position: absolute; 
} */

#oc-quick-action-link-container .oc-quick-action-quick-search {
  position: absolute;
  left: 20px;
  margin: 20px 20px 15px 10px;
  text-transform: uppercase;
  font-weight: 465;
  color: #333333;
  opacity: 100%;
  font-size: 14px;
  font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#oc-quick-action-link-container .oc-quick-action-choice-link {
  color: #237B98;
  opacity: 100%;
  font-size: 16px;
  color: #da3743;
  position: absolute;
  left: 152px;
  top: 133px;
}

.content-block-header {
  border-radius: 5px;
  background-color: white;
  padding: 1.5rem;
  height:500px;
  position: relative;
}

.no-padding-top {
  padding-top: 0!important;
}

.dtp-picker:before, .dtp-picker:after {
  content: " ";
  display: table;
}

.dtp-picker-selector-link:after {
  /* font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
  font-size: 1.3125rem;
  position: absolute;
  right: 50%;
  margin-right: -.5rem;
  bottom: 0; */
}

*, *:before, *:after {
  box-sizing: border-box;
}

#dtp-search-single-box, .dtp-picker-selector {
  /* font-size: .875rem; */
  /* font-weight: 400;
  line-height: 1.43; */
}

.content-block-body 
.container {
  position: relative;
  padding: 1.5rem;    
  margin: 0px;
  height: 286 px;
  width: 524 px;
  background-color: white;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  content: " ";
  display: table; 
}

.show {
  display: none;
}

.aClass {
  text-decoration: none;
  background-color: transparent;
  position:absolute;
}

.pickerForm {

  position: relative
}

.dtp-picker-selector select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  color: #333;
  background-color: #fff;
}

.TableSearch {
    margin: 0 !important;
    background-color: #b8222d;
    color: #FFF;
    font-size: 1rem;
    font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    text-align: center;
    outline: none;
    display: inline-block;
    background-color: #da3743;
    border-color: #b8222d;
    color: #fff;
    padding-top: 0px;
    padding-right: 0.5rem;
    padding-bottom: 0px;
    padding-left: 0.5rem;
    font-weight: 600;
    float: left;
    position: absolute;
    top:-1px;
    left: 669px;
    width: 144.63px;
    height: 48px;
}

.searchBox {
  position: absolute;
  display: inline-block;
  direction: ltr;
    vertical-align: top;
    background-color: transparent;
    font-weight: 400;
    line-height: 1.43;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    padding: .75rem .9375rem .8125rem 2rem;
    padding-left: 2.4375rem;
    background: transparent;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    unicode-bidi: -webkit-isolate;
    background-color: white;
    box-sizing: border-box;
    direction: ltr;
    width: 300px;
    height: 49px;
    font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    top: -1px;
    left: 369px;
}

.selectClass {
    font: inherit;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    padding: 0px 2px 1px;
    box-sizing: border-box;
}

.rest-row-times-btn {
  border-radius: 3px;
  border: 1px solid #DA3743;
  color: #fff;
  margin-right: .5rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: .875rem;
  position: absolute;
  background: #DA3743;
  margin-bottom: .5rem;
  white-space: nowrap;
  min-width: 4.125rem;
  font-family: source-sans-pro,"Helvetica Neue",Helvetica,Arial,sans-serif;
  top: 277px;
  left: 0px;
}

.view-all-link {
  left: 0px;
  top: 250px;
  width: 800px;
}

.DayPicker {
  top: -15px;
  position: absolute;
  left: 50px;
  }
  
  .timeSelect {
    font-size: .875rem;
    float:left;
    position: absolute;
    top:-0.8px;
    left: 250px;
    width: 118.88px;
    height: 49px;
  }

  .DayPicker-wrapper {
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-bottom: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .DayPicker-Months {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .DayPicker-Month {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0 1rem;
    margin-top: 1rem;
  }
  
  .DayPicker-NavBar {
  }
  
  .DayPicker-NavButton {
    font-family: icons;
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1.5rem;
    margin-top: 2px;
    color: red;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .DayPicker-NavButton:hover {
    opacity: 0.8;
  }
  
  .DayPicker-NavButton--prev {
    margin-right: 1.5rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
  }
  
  .DayPicker-NavButton--next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
  }
  
  .DayPicker-NavButton--interactionDisabled {
    display: none;
  }
  
  .DayPicker-Caption {
    margin-left: .25rem;
    margin-right: .25rem;
    padding: 0 0.5rem;
    display: table-caption;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.43;
    font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  .DayPicker-Caption > div {
    font-size: 1.15rem;
    font-weight: 500;
  }
  
  .DayPicker-Weekdays {
    margin-top: 1rem;
    display: table-header-group;
  }
  
  .DayPicker-WeekdaysRow {
    display: table-row;
  }
  
  .DayPicker-Weekday {
    display: table-cell;
    padding: 0.5rem;
    font-size: 0.875em;
    text-align: center;
    color: #8b9898;
  }
  
  .DayPicker-Weekday abbr[title] {
    border-bottom: none;
    text-decoration: none;
  }
  
  .DayPicker-Body {
    display: table-row-group;
  }
  
  .DayPicker-Week {
    display: table-row;
  }
  
  .DayPicker-Day {
    display: table-cell;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
  }
  
  .DayPicker-Day:hover {
    color: white;
    border-radius: 100%;
    background-color: red;
    opacity: 0.3;
  }

  .DayPicker-WeekNumber {
    display: table-cell;
    padding: 0.5rem;
    text-align: right;
    vertical-align: middle;
    min-width: 1rem;
    font-size: 0.75em;
    cursor: pointer;
    color: #8b9898;
    border-right: 1px solid #eaecec;
  }
  
  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }
  
  .DayPicker-Footer {
    padding-top: 0.5rem;
  }
  
  .DayPicker-TodayButton {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
    color: #4a90e2;
    font-size: 0.875em;
  }
  
  /* Default modifiers */
  
  /* .DayPicker-Day--today {
    color: #d0021b;
    font-weight: 700;
  } */
  
  .DayPicker-Day--outside {
    cursor: default;
    color: #8b9898;
  }
  
  .DayPicker-Day--disabled {
    color: #dce0e0;
    cursor: default;
    background-color: #eff1f1;
  }
  
  /* Example modifiers */
  
  .DayPicker-Day--sunday {
    background-color: #f7f8f8;
  }
  
  .DayPicker-Day--sunday:not(.DayPicker-Day--today) {
    color: #dce0e0;
  }
  
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;
    color: #f0f8ff;
    background-color: #da3743;
    border-radius: 100%;
  }
  
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: #da3743;
  }
  
  .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: #f0f8ff;
    border-radius: 50%;
  }
  
  /* DayPickerInput */


  .DayPickerInput {
    display: inline-block;
    position: absolute;
  }
  
  .DayPickerInput-OverlayWrapper {
    position: relative;
  }
  
  
  .DayPickerInput-Overlay {
    left: 0;
    z-index: 2;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  .dtp-picker-selector.time-picker {
   /* border-top-right-radius: 3px; */
}

.dtp-picker-selector.party-size-picker {
  /* border-right: 0;
  border-top-left-radius: 3px;
  border-color: rgb(166, 166, 166); */
}

.dtp-picker-selector, .dtp-picker-search-container {
    /* transition: border-color ease-in-out 0.15s; */
}

#dtp-search-single-box, .dtp-picker-selector {
  /* font-size: .875rem;
  font-weight: 400;
  line-height: 1.43; */
}

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background: #da3743;
  color: #fff;
}
.Selectable .DayPicker-Day {
  /* border-radius: 0 !important; */
  
}
.Selectable .DayPicker-Day--start {
  background: #da3743;
  opacity: 0%;
  /* border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important; */
}
.Selectable .DayPicker-Day--end {
  /* border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important; */
}