
.buttonsContainer {
  height: 390px;
  width: 290px;
  background-color: white;
  display:flex;
  flex-direction: column;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.peopleSelect {
width: 300.499996px;  
height: 40px;
text-align: center;
background-color: #fff;
-webkit-appearance: none;
-webkit-border-radius: 0;
top: -1px;
font-family:"source-sans-pro",sans-serif;
font-size: .875rem;
border: none;
cursor: pointer;
outline: none;
margin-top: 1px;
border-bottom: 1px solid #e1e1e1;
}

.peopleSelect:focus {
  cursor: pointer; 
    font-family: inherit; 
    background-color: #fff;
     font-size: .875rem; 
     display: block; 
     outline: none; 
     border: none; 
     width: 100%;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
.peopleSelect:hover {
  border-bottom: 2px solid #d83a47;
}

.party {
  width: 300px;
  height: 80px;
  border-left: none;
  border-right: none;
  background-color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  margin: -4px 0px 0px 0px;
}
.calendar {
height: 70px;
display:flex;
flex-direction: column; 
align-items: flex-start;
width: 300px;
}
.calendar p {
  margin-top: -1px;
}
.calendar input{
  width: 144px;
  height: 40px;
  margin-top: 25px;
}

.calendarAndDate {
  height: 80px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  margin-top: -16px;
  background-color: pink;
}

.page-header-title {
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.33;
  font-size: 1.125rem;
  text-rendering: optimizeLegibility;
  margin: 0px 0px 10px 0px;
  padding-bottom: 0;
  text-shadow: none;
  box-sizing: border-box;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.reservation-header {
  margin-top: -5px;
  font-weight: bold;
  height: 40px;
  width: 290px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 1.17;
  text-shadow: none;
  color: #333;
  text-align: center;
  padding: 0;
  font-size: 21px;
  line-height: 28px;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-style: normal;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 7px;
}

/* #oc-quick-action-link-container {
  left: 20px;
  position: absolute; 
} */

/* #oc-quick-action-link-container .oc-quick-action-quick-search {
  position: absolute;
  left: 20px;
  margin: 20px 20px 15px 10px;
  text-transform: uppercase;
  font-weight: 465;
  color: #333333;
  opacity: 100%;
  font-size: 14px;
  font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
} */

/* #oc-quick-action-link-container .oc-quick-action-choice-link {
  color: #237B98;
  opacity: 100%;
  font-size: 16px;
  color: #da3743;
  position: absolute;
  left: 152px;
  top: 133px;
} */

.content-block-header {
  background-color: white;
  padding: 1rem;
  height:352px;
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.dtp-picker:before, .dtp-picker:after {
  content: " ";
  display: table;
}

.dtp-picker-selector-link:after {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
  font-size: 1.3125rem;
  /* position: absolute; */
  right: 50%;
  margin-right: -.5rem;
  bottom: 0;
}


.content-block-body 
.container {
  position: relative;
  padding: 1.5rem;    
  margin: 0px;
  height: 286 px;
  width: 524 px;
  background-color: white;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  content: " ";
  display: table; 
}

.show {
  display: none;
}

.aClass {
  text-decoration: none;
  background-color: transparent;
  position:absolute;
}

.dtp-picker-selector select {
  
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: #fff;
}

.TableSearch {
    background-color: #b8222d;
    color: #FFF;
    margin-top: 15px;
    font-size: 1rem;
    font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-width: 0;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    background-color: #da3743;
    border-color: #b8222d;
    color: #fff;
    border: 30px;
    font-weight: 600;
    width: 290px;
    height: 50px;
    align-self: center;
}

.searchBox {
  position: absolute;
  display: inline-block;
  direction: ltr;
    vertical-align: top;
    background-color: transparent;
    font-weight: 400;
    line-height: 1.43;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    padding: .75rem .9375rem .8125rem 2rem;
    padding-left: 2.4375rem;
    background: transparent;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    unicode-bidi: -webkit-isolate;
    background-color: white;
    direction: ltr;
    width: 300px;
    height: 49px;
    font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    top: -1px;
    left: 369px;
}

.selectClass {
    font: inherit;
    margin: 0;
    border-width: 1px;
    border-image: initial;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    -webkit-writing-mode: horizontal-tb;
    font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    padding: 0px 2px 1px;
    box-sizing: border-box;
}

.rest-row-times-btn {
  border: 1px solid #DA3743;
  color: #fff;
  margin-right: .5rem;
  line-height: 1.2rem;
  font-size: .875rem;
  background: #DA3743;
  margin-bottom: .5rem;
  white-space: nowrap;
  font-family: source-sans-pro,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 10px;
  height: 20px;
  padding: 5px;

}

.times {
width: 280px;
height: 80px;
display:flex;
}

.allTimes {
  height: 100px;
  width: 280px;
  background-color: white;
  display:flex;
  justify-content: center;
  /* margin-top: 100px; */
  align-items: flex-start;
}

.view-all-link {
  left: 0px;
  top: 250px;
  width: 800px;
}
  
  .timeSelect {
    background-color: white;
    border-color: none;
    border-style: none;
    text-align: center;
    font-size: .875rem;
    width: 144px;
    height: 40px;
    outline: none;
    border-bottom: 1px solid #d8d9db;
    margin-top: 13px;
  }

  .timeSelect:hover {
    border-bottom: 2px solid #d83a47;
  }

  .DayPicker-wrapper {
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-bottom: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .DayPicker-Months {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .DayPicker-Month {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0 1rem;
    margin-top: 1rem;
  }
  
  .DayPicker-NavBar {
  }
  
  .DayPicker-NavButton {
    font-family: icons;
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1.5rem;
    margin-top: 2px;
    color: red;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .DayPicker-NavButton:hover {
    opacity: 0.8;
  }

  .DayPicker {

  }
  
  .DayPicker-NavButton--prev {
    margin-right: 1.5rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
  }
  
  .DayPicker-NavButton--next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
  }
  
  .DayPicker-NavButton--interactionDisabled {
    display: none;
  }
  
  .DayPicker-Caption {
    margin-left: .25rem;
    margin-right: .25rem;
    padding: 0 0.5rem;
    display: table-caption;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.43;
    font-family: BrandonText,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  .DayPicker-Caption > div {
    font-size: 1.15rem;
    font-weight: 500;
  }
  
  .DayPicker-Weekdays {
    margin-top: 1rem;
    display: table-header-group;
  }
  
  .DayPicker-WeekdaysRow {
    display: table-row;
  }
  
  .DayPicker-Weekday {
    display: table-cell;
    padding: 0.5rem;
    font-size: 0.875em;
    text-align: center;
    color: #8b9898;
  }
  
  .DayPicker-Weekday abbr[title] {
    border-bottom: none;
    text-decoration: none;
  }
  
  .DayPicker-Body {
    display: table-row-group;
  }
  
  .DayPicker-Week {
    display: table-row;
  }
  
  .DayPicker-Day {
    display: table-cell;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
  }
  
  .DayPicker-Day:hover {
    color: white;
    border-radius: 100%;
    background-color: red;
    opacity: 0.3;
  }

  .DayPicker-WeekNumber {
    display: table-cell;
    padding: 0.5rem;
    text-align: right;
    vertical-align: middle;
    min-width: 1rem;
    font-size: 0.75em;
    cursor: pointer;
    color: #8b9898;
    border-right: 1px solid #eaecec;
  }
  
  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }
  
  .DayPicker-Footer {
    padding-top: 0.5rem;
  }
  
  .DayPicker-TodayButton {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
    color: pink;
    font-size: 0.875em;
  }
  
  /* Default modifiers */
  
  /* .DayPicker-Day--today {
    color: #d0021b;
    font-weight: 700;
  } */
  
  .DayPicker-Day--outside {
    cursor: default;
    color: #8b9898;
  }
  
  .DayPicker-Day--disabled {
    color: #dce0e0;
    cursor: default;
    background-color: #eff1f1;
  }
  
  /* Example modifiers */
  
  .DayPicker-Day--sunday {
    background-color: #f7f8f8;
  }
  
  .DayPicker-Day--sunday:not(.DayPicker-Day--today) {
    color: #dce0e0;
  }
  
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;
    color: #f0f8ff;
    background-color: #da3743;
    border-radius: 100%;
  }
  
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: #da3743;
  }
  
  .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: #f0f8ff;
    border-radius: 50%;
  }
  
  /* DayPickerInput */


  .DayPickerInput {
    width: 144px;
    
    display: inline-block;
    position: absolute;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #d8d9db;
  }

  .DayPickerInput:hover {
    border-bottom: 2px solid #d83a47;
  }
  
  .DayPickerInput-OverlayWrapper {
    position: relative;
  }
  
  
  .DayPickerInput-Overlay {
    left: 0;
    z-index: 2;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background: #da3743;
  color: #fff;
}
.Selectable .DayPicker-Day {
  /* border-radius: 0 !important; */
  
}
.Selectable .DayPicker-Day--start {
  background: #da3743;
  opacity: 0%;
  /* border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important; */
}
.Selectable .DayPicker-Day--end {
  /* border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important; */
}